/* Reset some default styles in browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 50px; /* Abstand von der oberen Kante */
}

header {
    text-align: center;
    padding: 1em 0;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
}

img {
    border-radius: 50%; /* Kreisförmiges Bild */
    box-shadow: 0px 0px 10px 0px #000000; /* Schatten um das Bild */
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 3em 0;
    background: #333;
    color: #fff;
}

/* Buttons Styling */
.button {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.button:hover {
    background: #555;
}

/* Positioning and styling the divs containing buttons */
.hobbys,
.contact {
    text-align: center;
    margin: 20px 0;
}

/* Style for nested unordered list */
ul ul {
    margin-left: 20px;
}
