html {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

.button {
  color: lightgreen;
}

p,li,.button {
  font-family: 'Titillium Web', sans-serif;
}

.resume {
  background-color: yellow;
  display: inline-block;
  width: 125px;
  height: 25px;
}

.hobbys {
  background-color: #50C7C3;
  display: inline-block;
  width: 125px;
  height: 25px;
}

.contact {
  background-color: lightgreen;
  display: inline-block;
  width: 125px;
  height: 25px;
}

