html {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

.button {
  color: black;
  position: relative center;
  z-index: 1;
}

p,li,.button {
  font-family: 'Titillium Web', sans-serif;
}

.resume {
  background-color: yellow;
  display: inline-block;
  width: 125px;
  height: 25px;
  margin: 20px;
}

.hobbys {
  background-color: #50C7C3;
  display: inline-block;
  width: 125px;
  height: 25px;
  margin: 20px;
}

.contact {
  background-color: seagreen;
  display: inline-block;
  width: 125px;
  height: 25px;
  margin: 20px;
}

#icon {
  border-radius: 50%;
}

